html
	head
		title Ajax App - #{title}
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		include nav.pug
	div#dragonWrapper
		img#dragon(src="images/dragon.png")

style
	include stylesheet.css



