nav
	ul
		li  
			a(class='nav' href='/') Home
		li
			a(class='nav' href='users') Users
		li 
			a(class='nav' href='search') Search Bar
		li 
			a(class='nav' href='adduser') Add user

style
	include stylesheet.css
